@keyframes floatUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-float-in {
  animation: floatUp 0.5s ease-out forwards;
}

@keyframes windMove {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }

  20% {
    opacity: 0.4;
  }

  80% {
    opacity: 0.4;
  }

  100% {
    transform: translateX(300px);
    opacity: 0;
  }
}

.animate-wind {
  animation: windMove 3s linear infinite;
}